.bir {
font: size 200px;
    text-align: center;
    height: 100px;
    width: 100px;
    margin-left: 5px;
    text-transform: uppercase;
    border-style: solid;
    font-weight: bold; 


    
  }
  html , body {
    height: 100%;
  }
  .container {
    height: 100%;
  }
  .tile {
        margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    vertical-align: middle;
    box-sizing: border-box;
    text-transform: uppercase;
    user-select: none;
  }

  .inep {
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;

  }
  .yesil {
  background-color: rgb(0, 173, 23);
  -webkit-animation-name: yesile; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: yesile;
  animation-duration: 4s;

  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.sari {
  background-color: rgb(236, 253, 0);
  -webkit-animation-name: sariya; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: sariya;
  animation-duration: 4s;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}

.gri {
  background-color: rgb(119, 119, 119);
  -webkit-animation-name: griye; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 4s; /* Chrome, Safari, Opera */
  animation-name: griye;
  animation-duration: 4s;
  -webkit-animation: rotate-center 0.6s ease-in-out both;
  animation: rotate-center 0.6s ease-in-out both;
}



@-webkit-keyframes yesile {
  from {background-color: rgb(255, 255, 255);};
  to {background-color: rgba(0, 173, 23, 0.795);};

}

@-webkit-keyframes sariya {
  from {background-color: rgb(255, 255, 255);}
  to {background-color: rgb(192, 206, 0);}
}
  
@-webkit-keyframes griye {
  from {background-color: rgb(255, 255, 255);}
  to {background-color: rgb(119, 119, 119);}
}


.rotate-center {
	-webkit-animation: rotate-center 0.6s ease-in-out both;
	        animation: rotate-center 0.6s ease-in-out both;
}



/**
 * ----------------------------------------
 * animation rotate-center
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

/* Bounce efex*/

.bounceIn {
  -webkit-animation-name: shake;
  animation-name: shake;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  }
  @keyframes shake {
  0%, 100% {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  }
  10%, 30%, 50%, 70%, 90% {
  -webkit-transform: translate3d(-10px, 0, 0);
  transform: translate3d(-10px, 0, 0);
  }
  20%, 40%, 60%, 80% {
  -webkit-transform: translate3d(10px, 0, 0);
  transform: translate3d(10px, 0, 0);
  }
  } 
×